@use "../utils/mixins" as m;
@use "../utils/variables" as v;

// Main container
.main-cnt {
  @include m.flex-col(center);
  gap: v.$space-9;
  max-width: 1110px;
  width: 100%;
  height: fit-content ;
  gap: v.$space-6;
}

// Block One: Top page
.block-cnt1 {
  width: 100%;
  min-height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  &__a {
    max-width: 475px;
    width: 100%;
    min-height: auto;
  }

  &__title {
    font-size: v.$fs-xl;
    line-height: v.$space-11;
    font-weight: v.$fw-bold;
    margin: 0;
    padding-bottom: 30px;
  }

  &__txt {
    max-width: 445px;
    width: 100%;
    min-height: 56px;
    font-size: v.$fs-base;
    line-height: v.$space-4;
  }
}

// Map
.block-cnt2 {
  width: clamp(320px, 95vw, 1110px);
  height: clamp(320px, 95vw, 570px);
}
