@use "../utils/mixins" as m;
@use "../utils/variables" as v;

// Project Main
.main-pjct {
  display: grid;
  max-width: 1110px;
  width: 100%;
  min-height: 1647px;
  margin-bottom: 20px;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "item1 item1 item2"
    "img1 img1 img1"
    "item3 item3 item3"
    "img2 img2 img2";

  &__item1 { grid-area: item1; }
  &__item2 {
    justify-self: end;
    grid-area: item2;
  }
  &__img1 { grid-area: img1; }
  &__item3 { grid-area: item3; }
  &__img2 {
    align-self: end;
    grid-area: img2;
  }
}

.block-pjct1 {
  @include m.flex-col(flex-start);
  max-width: 635px;
  width: 100%;
  min-height: 222px;
  gap: 40px;

  &__title {
    font-size: v.$fs-xl;
    font-weight: v.$fw-bold;
    line-height: v.$space-8;
    margin: 0;
  }

  &__txt {
    font-size: v.$fs-base;
    line-height: 1.5rem;
    color: v.$overlay-80;
  }
}

.block-pjct2 {
  display: grid;
  row-gap: v.$space-3;
  column-gap: v.$space-9;
  max-width: 335px;
  width: 100%;
  min-height: 343px;
  font-weight: v.$fw-bold;
  font-size: v.$fs-medium;

  &__row {
    display: grid;
    grid-template-columns: 2fr 2fr;
    border-bottom: 1px solid v.$text-line;
  }

  &__item1,
  &__item3,
  &__item5,
  &__item7,
  &__item9,
  &__item11 {
    color: v.$overlay-50;
  }

  &__item2,
  &__item4,
  &__item6,
  &__item8,
  &__item10,
  &__item12 {
    text-align: left;
  }
}

.block-pjct3 {
  width: 100%;
  min-height: 660px;
}

.block-pjct4 {
  width: 100%;
  min-height: fit-content;
  font-size: v.$fs-base;
  line-height: v.$space-4;
  color: v.$overlay-80;
}

.block-pjct5 {
  @include m.justify-between;
    img {
      max-width: 330px;
      width: 100%;
      min-height: 380px;
      gap: 30px;
    }
}
