@use "../utils/variables" as v;
@use "../utils/mixins" as m;

/* Main Grid Container */
.block-four {
  width: clamp(320px, 95vw, 1110px);
  height: clamp(320px, 95vw, 823px);
  margin: 0 auto;
  display: grid;
  row-gap: v.$space-8;
  border-top: 1px solid v.$text-line;
  border-bottom: 1px solid v.$text-line;
  padding: v.$space-8 0;
}

.block-four__grid {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1.2fr auto;
  column-gap: v.$space-8;
  row-gap: v.$space-8;
  row-gap: v.$space-8;
  padding: v.$space-8 0;
}

.block-four__grid--awwwards {
  padding-bottom: v.$space-5;
  border-bottom: 1px solid v.$text-line;
}

.block-four__grid--cssdesign {
  padding-top: v.$space-5;
}

/* Inner Grid Container A */
.block-four__grid--awwwards {
  .block-four__item1 {
    grid-column: 1;
    grid-row: 1;
    font-weight: v.$fw-bold;
    font-size: v.$fs-large;
    margin: 0;
  }

  .block-four__item2 {
    grid-column: 2;
    grid-row: 1;
    font-weight: v.$fw-bold;
    font-size: v.$fs-medium;
    margin: 0;
  }

  .block-four__item3 {
    grid-column: 3;
    grid-row: 1;
  }

  .block-four__item4 {
    grid-column: 4;
    grid-row: 1;
    text-align: right;
  }

  .block-four__item5 {
    grid-column: 2;
    grid-row: 2;
    font-weight: v.$fw-bold;
    font-size: v.$fs-medium;
  }

  .block-four__item6 {
    grid-column: 3;
    grid-row: 2;
  }

  .block-four__item7 {
    grid-column: 4;
    grid-row: 2;
    text-align: right;
  }
}

/* Inner Grid Container B */
.block-four__grid--cssdesign {
  .block-four__item8 {
    grid-column: 1;
    grid-row: 1;
    font-weight: v.$fw-bold;
    font-size: v.$fs-large;
    margin: 0;
  }

  .block-four__item9 {
    grid-column: 2;
    grid-row: 1;
    font-weight: v.$fw-bold;
    font-size: v.$fs-medium;
    margin: 0;
  }

  .block-four__item10 {
    grid-column: 3;
    grid-row: 1;
  }

  .block-four__item11 {
    grid-column: 4;
    grid-row: 1;
    text-align: right;
  }

  .block-four__item12 {
    grid-column: 2;
    grid-row: 2;
    font-weight: v.$fw-bold;
    font-size: v.$fs-medium;
  }

  .block-four__item13 {
    grid-column: 3;
    grid-row: 2;
  }

  .block-four__item14 {
    grid-column: 4;
    grid-row: 2;
    text-align: right;
  }
}

.block-four__item3--a,
.block-four__item6--a,
.block-four__item10--a,
.block-four__item13--a {
  font-weight: v.$fw-bold;
}

.block-four__item3--b,
.block-four__item6--b,
.block-four__item10--b,
.block-four__item13--b {
  color: v.$overlay-60;
  margin-top: 6px;
  line-height: 1.4;
}
