.wrapper__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1110px;
  width: 100%;
  height: auto;
}

.logo {
  width: 90px;
  height: 19px;
}

.header-nav__list {
  display: flex;
  gap: 20px;
}
.header-nav__link {
  list-style: none;
}
.header-nav__link a {
  cursor: pointer;
  transition: transform 0.2;
  text-decoration: none;
  color: #111111;
}
.header-nav__link:hover {
  transform: scale(1.1);
}

.wrapper__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1110px;
  width: 100%;
  height: auto;
}

.logo {
  width: 90px;
  height: 19px;
}
.logo a {
  cursor: pointer;
  transition: transform 0.2;
}
.logo:hover {
  transform: scale(1.1);
}

.footer-nav {
  max-width: 353px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-nav__list {
  display: flex;
  gap: 20px;
}
.footer-nav__link {
  list-style: none;
}
.footer-nav__link a {
  text-decoration: none;
  color: #111111;
  cursor: pointer;
  transition: transform 0.2;
}
.footer-nav__link:hover {
  transform: scale(1.1);
}
.footer-nav__icon {
  width: 95px;
  height: 15px;
  display: flex;
  gap: 1.5rem;
}
.footer-nav__icon i {
  width: 15px;
  height: 15px;
}

.wrapper {
  margin: 1.5rem auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1110px;
  width: 100%;
  min-height: 100vh;
  gap: 100px;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #FFFFFF;
  font-family: "Mulish", sans-serif;
  margin: 0 auto;
  padding: 1.5rem;
}

.main-pjct {
  display: grid;
  max-width: 1110px;
  width: 100%;
  min-height: 1647px;
  margin-bottom: 20px;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "item1 item1 item2" "img1 img1 img1" "item3 item3 item3" "img2 img2 img2";
}
.main-pjct__item1 {
  grid-area: item1;
}
.main-pjct__item2 {
  justify-self: end;
  grid-area: item2;
}
.main-pjct__img1 {
  grid-area: img1;
}
.main-pjct__item3 {
  grid-area: item3;
}
.main-pjct__img2 {
  align-self: end;
  grid-area: img2;
}

.block-pjct1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 635px;
  width: 100%;
  min-height: 222px;
  gap: 40px;
}
.block-pjct1__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0;
}
.block-pjct1__txt {
  font-size: 16px;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.block-pjct2 {
  display: grid;
  row-gap: 1.1rem;
  column-gap: 3rem;
  max-width: 335px;
  width: 100%;
  min-height: 343px;
  font-weight: 700;
  font-size: 18px;
}
.block-pjct2__row {
  display: grid;
  grid-template-columns: 2fr 2fr;
  border-bottom: 1px solid #D8D8D8;
}
.block-pjct2__item1, .block-pjct2__item3, .block-pjct2__item5, .block-pjct2__item7, .block-pjct2__item9, .block-pjct2__item11 {
  color: rgba(0, 0, 0, 0.5);
}
.block-pjct2__item2, .block-pjct2__item4, .block-pjct2__item6, .block-pjct2__item8, .block-pjct2__item10, .block-pjct2__item12 {
  text-align: left;
}

.block-pjct3 {
  width: 100%;
  min-height: 660px;
}

.block-pjct4 {
  width: 100%;
  min-height: fit-content;
  font-size: 16px;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.block-pjct5 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.block-pjct5 img {
  max-width: 330px;
  width: 100%;
  min-height: 380px;
  gap: 30px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../scss/partials/utils/_header.scss%22,%22../../scss/partials/utils/_mixins.scss%22,%22../../scss/partials/utils/_variables.scss%22,%22../../scss/partials/utils/_footer.scss%22,%22../../scss/partials/utils/_wraps.scss%22,%22../../scss/partials/utils/_body.scss%22,%22../../scss/partials/projects/_project-main.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAGA;ECcE;EACA;EACA;EDdA;EACA;EACA;;;AAGF;EACE;EACA;;;AAIE;EACE;EACA;;AAIF;EACE;;AAEA;ECmCJ;EACA;EDlCM;EACA,OE1BO;;AF6BT;ECkCJ;;;AE9DF;EFcE;EACA;EACA;EEdA;EACA;EACA;;;AAGF;EACE;EACA;;AACA;EF+CA;EACA;;AE5CA;EFgDA;;;AE3CF;EACE;EACA;EACA;EFRA;EACA;EACA;;AESA;EACE;EACA;;AAGF;EACE;;AAEA;EACE;EACA,ODpCS;ED0Db;EACA;;AEpBE;EFwBF;;AEnBA;EACE;EACA;EACA;EACA,KD1BM;;AC4BN;EACE;EACA;;;AClDN;EACE;EACA,SFkBQ;EDIR;EACA;EACA,aGvBoB;EACpB;EACA;EACA;EACA;EACA;;;ACVF;EACE;EACA;;;AAGF;EACE,YHPW;EGQX,aHEa;EGDb;EACA,SHaQ;;;AIpBV;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA,qBACE;;AAKF;EAAW;;AACX;EACE;EACA;;AAEF;EAAU;;AACV;EAAW;;AACX;EACE;EACA;;;AAIJ;ELJE;EACA;EACA,aKGoB;EACpB;EACA;EACA;EACA;;AAEA;EACE,WJxBI;EIyBJ,aJvBM;EIwBN,aJdM;EIeN;;AAGF;EACE,WJnCM;EIoCN;EACA,OJzCS;;;AI6Cb;EACE;EACA,SJhCQ;EIiCR,YJ3BQ;EI4BR;EACA;EACA;EACA,aJ1CQ;EI2CR,WJhDU;;AIkDV;EACE;EACA;EACA;;AAGF;EAME,OJrES;;AIwEX;EAME;;;AAIJ;EACE;EACA;;;AAGF;EACE;EACA;EACA,WJpFQ;EIqFR,aJzEQ;EI0ER,OJ1FW;;;AI6Fb;ELpFE;EACA;EACA;;AKoFE;EACE;EACA;EACA;EACA%22,%22file%22:%22projects.css%22%7D */
