.wrapper__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1110px;
  width: 100%;
  height: auto;
}

.logo {
  width: 90px;
  height: 19px;
}

.header-nav__list {
  display: flex;
  gap: 20px;
}
.header-nav__link {
  list-style: none;
}
.header-nav__link a {
  text-decoration: none;
  color: #111111;
}

.wrapper__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1110px;
  width: 100%;
  height: auto;
}

.logo {
  width: 90px;
  height: 19px;
}

.footer-nav {
  max-width: 353px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-nav__list {
  display: flex;
  gap: 20px;
}
.footer-nav__link {
  list-style: none;
}
.footer-nav__link a {
  text-decoration: none;
  color: #111111;
}
.footer-nav__icon {
  width: 95px;
  height: 15px;
  display: flex;
  gap: 1.5rem;
}
.footer-nav__icon i {
  width: 15px;
  height: 15px;
}

.wrapper {
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1110px;
  width: 100%;
  min-height: 100vh;
  gap: 100px;
}
.wrapper__footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1110px;
  width: 100%;
  height: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #FFFFFF;
  font-family: "Mulish", sans-serif;
  margin: 0 auto;
  padding: 1.5rem;
}

.main-pjct {
  display: grid;
  max-width: 1110px;
  width: 100%;
  min-height: 1647px;
  margin-bottom: 20px;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "item1 item1 item2" "img1 img1 img1" "item3 item3 item3" "img2 img2 img2";
}
.main-pjct__item1 {
  grid-area: item1;
}
.main-pjct__item2 {
  justify-self: end;
  grid-area: item2;
}
.main-pjct__img1 {
  grid-area: img1;
}
.main-pjct__item3 {
  grid-area: item3;
}
.main-pjct__img2 {
  align-self: end;
  grid-area: img2;
}

.block-pjct1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 635px;
  width: 100%;
  min-height: 222px;
  gap: 40px;
}
.block-pjct1__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0;
}
.block-pjct1__txt {
  font-size: 16px;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.block-pjct2 {
  max-width: 335;
  width: 100%;
  min-height: 222px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas: "item1 item2" "item3 item4" "item5 item6" "item7 item8" "item9 item10" "item11 item12";
}
.block-pjct2__item1 {
  margin: 0;
  padding: 0;
  grid-area: item1;
}
.block-pjct2__item2 {
  grid-area: item2;
}
.block-pjct2__item3 {
  grid-area: item3;
}
.block-pjct2__item4 {
  grid-area: item4;
}
.block-pjct2__item5 {
  grid-area: item5;
}
.block-pjct2__item6 {
  grid-area: item6;
}
.block-pjct2__item7 {
  grid-area: item7;
}
.block-pjct2__item8 {
  grid-area: item8;
}
.block-pjct2__item9 {
  grid-area: item9;
}
.block-pjct2__item10 {
  grid-area: item10;
}
.block-pjct2__item11 {
  grid-area: item11;
}
.block-pjct2__item12 {
  grid-area: item12;
}

.item1, .item3, .item5, .item7, .item9 {
  font-weight: 700;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

.block-pjct3 {
  width: 100%;
  min-height: 660px;
}

.block-pjct4 {
  width: 100%;
  min-height: fit-content;
  font-size: 16px;
  line-height: 1.5rem;
  color: rgba(0, 0, 0, 0.8);
}

.block-pjct5 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.block-pjct5 img {
  max-width: 330px;
  width: 100%;
  min-height: 380px;
  gap: 30px;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22../../scss/partials/utils/_header.scss%22,%22../../scss/partials/utils/_mixins.scss%22,%22../../scss/partials/utils/_variables.scss%22,%22../../scss/partials/utils/_footer.scss%22,%22../../scss/partials/utils/_wraps.scss%22,%22../../scss/partials/utils/_body.scss%22,%22../../scss/partials/projects/_project-main.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AAGA;ECcE;EACA;EACA;EDdA;EACA;EACA;;;AAGF;EACE;EACA;;;AAIE;EACE;EACA;;AAIF;EACE;;AAEA;EACE;EACA,OEzBO;;;ACCf;EFcE;EACA;EACA;EEdA;EACA;EACA;;;AAGF;EACE;EACA;;;AAGF;EACE;EACA;EACA;EFDA;EACA;EACA;;AEEA;EACE;EACA;;AAGF;EACE;;AAEA;EACE;EACA,OD7BS;;ACiCb;EACE;EACA;EACA;EACA,KDjBM;;ACmBN;EACE;EACA;;;ACvCN;EACE;EACA,SFgBQ;EDMR;EACA;EACA,aGvBoB;EACpB;EACA;EACA;EACA;EACA;;AAEA;EHGA;EACA;EACA;EGHI;EACA;EACA;;;AChBN;EACE;EACA;;;AAGF;EACE,YHPW;EGQX,aHFa;EGGb;EACA,SHWQ;;;AIlBV;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA,qBACE;;AAKF;EAAW;;AACX;EACE;EACA;;AAEF;EAAS;;AACT;EAAU;;AACV;EACE;EACA;;;AAIJ;ELJE;EACA;EACA,aKGoB;EACpB;EACA;EACA;EACA;;AAEA;EACE,WJ5BI;EI6BJ,aJzBM;EI0BN,aJhBM;EIiBN;;AAGF;EACE,WJvCM;EIwCN;EACA,OJlCS;;;AIsCb;EACE;EACA;EACA;EACA;EACA;EACA;EACA;EACA,qBACE;;AAOF;EACE;EACA;EACA;;AAEF;EAAU;;AACV;EAAU;;AACV;EAAU;;AACV;EAAU;;AACV;EAAU;;AACV;EAAU;;AACV;EAAU;;AACV;EAAU;;AACV;EAAW;;AACX;EAAW;;AACX;EAAW;;;AAGb;EACE,aJxEQ;EIyER,WJhFU;EIiFV,OJ7EW;;;AIgFb;EACE;EACA;;;AAGF;EACE;EACA;EACA,WJ7FQ;EI8FR,aJhFQ;EIiFR,OJxFW;;;AI2Fb;ELzFE;EACA;EACA;;AKyFE;EACE;EACA;EACA;EACA%22,%22file%22:%22projects.css%22%7D */
