@use "./mixins" as m;
@use "./variables" as v;

// Page wrapper
.wrapper {
  margin: v.$space-4 auto;
  padding: v.$space-4;
  @include m.flex-col(center);
  flex-wrap: wrap;
  max-width: 1110px;
  width: 100%;
  min-height: 100vh;
  gap: 100px;
}
