@use "partials/home-wrap";
@use "partials/header";

$background: red;
$font-primary: "Mulish", sans-serif;
$fs-base: 16px;
$fs-medium: 18px;
$fs-large: 22px;
$overlay-60: rgba(0, 0, 0, 0.6);
$text: #111111;
$fw-bold: 700;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $background;
}
