@use "../partials/utils/variables" as v;
@use "../partials/utils/mixins" as m;
@use "../partials/utils/header";
@use "../partials/utils/footer";
@use "../partials/utils/wraps";
@use "../partials/utils/body";

.main-pjct {
  border: 2px solid red;
  display: grid;
  max-width: 1110px;
  width: 100%;
  min-height: 1647px;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
  "item1 item1 item2"
  "img1 img1 img1"
  "item3 item3 item3"
  "img2 img2 img2";

  &__item1 {grid-area: item1; }
  &__item2 {grid-area: item2; }
  &__img1 { grid-area: img1; }
  &__item3 { grid-area: item3; }
  &__img2 { grid-area: img2; }
}

.block-pjct1 {
  border: 2px solid red;
  @include m.flex-col(flex-start);
  max-width: 635px;
  width: 100%;
  min-height: 222px;
  gap: 40px;
    &__title {
      margin: 0;
    }
}

.block-pjct2 {
  border: 2px solid red;
  max-width: 335px;
  width: 100%;
  min-height: 222px;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(7, 1fr);
  grid-template-areas:
  "item1 item2"
  "item3 item4"
  "item5 item6"
  "item7 item8"
  "item9 item10"
  "item11 item12";

    &__item1 {
      margin: 0;
      padding: 0;
      grid-area: item1;}
    &__item2 {grid-area: item2;}
    &__item3 {grid-area: item3;}
    &__item4 {grid-area: item4;}
    &__item5 {grid-area: item5;}
    &__item6 {grid-area: item6;}
    &__item7 {grid-area: item7;}
    &__item8 {grid-area: item8;}
    &__item9 {grid-area: item9;}
    &__item10 {grid-area: item10;}
    &__item11 { grid-area: item11;}
    &__item12 {grid-area: item12; }
}
