@use "../partials/variables" as v;
@use "../partials/mixins" as m;

.block-three {
  max-width: 1110px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-items: end;

  a {
    @include m.links;
  }

  &__item1 {
    grid-area: 1 / 1 / 4 / 2;
    @include m.h2;
  }

  &__item2 {
    @include m.flex-col(start);
    width: 155px;
    height: auto;
    grid-area: 1 / 2 / 2 / 3; }

  &__item3 {
    @include m.flex-col(start);
    width: 150px;
    height: auto;
    grid-area: 1 / 3 / 2 / 4; }
}
