// Page wrapper
.wrapper {
  display: grid;
  grid-template-rows: .6fr 2.6fr 6.7fr 3.8fr 52.5fr 2.4fr 2.8fr 2.7fr 22fr 3fr .6fr;
  grid-template-columns: 1fr;
  align-content: center;
  width: 100%;
  min-height: 100vh;
    header { grid-area: 1 / 1 / 2 / 2; }
    element2 { grid-area: 3 / 1 / 4 / 2; }
    element3 { grid-area: 5 / 1 / 6 / 2; }
    element4 { grid-area: 7 / 1 / 8 / 2; }
    element5 { grid-area: 9 / 1 / 10 / 2; }
    footer { grid-area: 11 / 1 / 12 / 2; }
}
