@use "./mixins" as m;
@use "../partials/variables" as v;

// Page wrapper
.wrapper {
  margin: 0 auto;
  padding: v.$space-4;
  @include m.flex-col(center);
  max-width: 1110px;
  width: 100%;
  min-height: 100vh;
  gap: 100px;

  &__main {
    @include m.flex-col(center);
    gap: 100px;
  }

  &__footer {
      @include m.justify-between;
      max-width: 1110px;
      width: 100%;
      height: auto;
    }
}

